fileobject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:dfxml="http://www.forensicswiki.org/wiki/Digital_Forensics_XML"
  targetNamespace="http://www.forensicswiki.org/wiki/Digital_Forensics_XML"
  elementFormDefault="qualified">
  <!--
  The Dublin Core metadata schema needs to be imported if you want xmllint to validate.
  Ref: https://mail.gnome.org/archives/xml/2009-November/msg00022.html
  -->
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd"/>

  <!--  The code below is the "filehasset" schema posted in the dfxml forensics wiki.-->

  <xs:element name="inode" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation>This is the number (st_ino from the stat(2) system call).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="fileobject">
    <xs:complexType>
      <xs:all>
        <xs:element ref="dfxml:parent_object" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dfxml:id" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dfxml:name_type" maxOccurs="1"/>
        <xs:element ref="dfxml:meta_type" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dfxml:filesize" minOccurs="1" maxOccurs="1"/>

        <xs:element name="partition" type="xs:nonNegativeInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation>This is the partition where the file is at.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="alloc" type="xs:nonNegativeInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation>This is the SleuthKit ALLOC flag. I believe that it means that the file is allocated.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="used" type="xs:nonNegativeInteger" minOccurs="0"/>
        <xs:element ref="dfxml:inode" minOccurs="0"/>
        <xs:element name="uid" type="xs:nonNegativeInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Numerical User id.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="type" type="xs:nonNegativeInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation>is the NTFS "Attribute Type" reported by SleuthKit.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="mode" type="xs:nonNegativeInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation>File opening mode.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="nlink" type="xs:nonNegativeInteger" minOccurs="0"/>
        <xs:element name="gid" type="xs:nonNegativeInteger" minOccurs="0"/>
        <xs:element name="mtime" type="dfxml:dftime" minOccurs="0">
          <xs:annotation>
            <xs:documentation>This is the time the file was last modified.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="atime" type="dfxml:dftime" minOccurs="0">
          <xs:annotation>
            <xs:documentation>This is the time the file was last accesed.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ctime" type="dfxml:dftime" minOccurs="0">
          <xs:annotation>
            <xs:documentation>This is the time the file was created.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="crtime" type="dfxml:dftime" minOccurs="0">
          <xs:annotation>
            <xs:documentation>This is the time the file was created.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="filename" type="xs:string" minOccurs="1">
          <xs:annotation>
            <xs:documentation>The name of the file. </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="libmagic" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>This is the result of running libmagic to identify the file type.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="seq" type="xs:nonNegativeInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation>This is the NTFS Sequence Number.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dfxml:byte_runs" minOccurs="0"/>
        <xs:element ref="dfxml:hashdigest" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Represents a cryptographic hash.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="byte_runs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dfxml:byte_run" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="byte_run">
    <xs:annotation>
      <xs:documentation>A specific location of bytes on a mass storage device.  These can be grouped in a byte_runs array. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Represents a cryptographic hash.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element ref="dfxml:hashdigest" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="file_offset" type="xs:nonNegativeInteger"/>
      <xs:attribute name="fs_offset" type="xs:nonNegativeInteger"/>
      <xs:attribute name="img_offset" type="xs:nonNegativeInteger"/>
      <xs:attribute name="len" type="xs:nonNegativeInteger"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="hashdigest">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type" type="dfxml:hashDigestType"/>
          <xs:attribute name="base" type="xs:nonNegativeInteger"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="hashDigestType">
    <xs:annotation>
      <xs:documentation>This is the hash algorithm that applies to this object.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="SHA1"/>
      <xs:enumeration value="SHA256"/>
      <xs:enumeration value="MD5"/>
      <xs:enumeration value="MD6"/>
      <xs:enumeration value="OTHER"/>
      <xs:enumeration value="sha1"/>
      <xs:enumeration value="sha256"/>
      <xs:enumeration value="md5"/>
      <xs:enumeration value="md6"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="volume">
    <xs:annotation>
      <xs:documentation>A mass storage system volume, which is defined as a collection of byte blocks that are all the same size.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <!--
      Note: This must be a sequence to allow for an arbitrary number of fileobjects.
      Ref: http://www.w3.org/TR/xmlschema-1/#cos-all-limited
      -->
      <xs:sequence>
        <xs:element ref="dfxml:byte_runs" minOccurs="0"/>
        <xs:element name="partition_offset" type="xs:positiveInteger" minOccurs="0"/>
        <xs:element name="block_size" type="xs:positiveInteger" minOccurs="0"/>
        <xs:element name="ftype" type="xs:positiveInteger" minOccurs="0"/>
        <xs:element name="ftype_str" type="xs:string" minOccurs="0"/>
        <xs:element name="block_count" type="xs:positiveInteger" minOccurs="0"/>
        <xs:element name="first_block" type="xs:positiveInteger" minOccurs="0"/>
        <xs:element name="last_block" type="xs:positiveInteger" minOccurs="0"/>
        <xs:element name="allocated_only" type="xs:positiveInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation>An indicator that this volume only contains fileobjects for allocated files, not recovered or deleted files.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dfxml:fileobject" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!--   This may not be be necessary.                                                                                     -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <xs:element name="hashset">
    <xs:annotation>
      <xs:documentation>main element - image name</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dfxml:file"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="file">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="filename" type="xs:string"/>
        <xs:element name="filetype" type="xs:string"/>
        <xs:element ref="dfxml:filehash"/>
        <xs:element ref="dfxml:fileattribution"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filehash">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dfxml:hashelement" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hashelement">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hashalgorithm" type="dfxml:hashAlgorithm"/>
        <xs:element ref="dfxml:hashvalue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hashvalue" type="xs:string"/>
  <xs:element name="fileattribution" type="xs:string"/>
  <xs:simpleType name="hashAlgorithm">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SHA1"/>
      <xs:enumeration value="SHA256"/>
      <xs:enumeration value="MD5"/>
      <xs:enumeration value="MD6"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
